* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1cm;
  justify-content: center;
}

.gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid black;
  background-color: white;
  display: block;
}
