* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1cm;
  justify-content: center;
}

.photo {
  border: 5px solid black;
  width: 200px;
  height: 200px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

