* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1cm;
  justify-content: center;
}

/* To jest kontener z ramką, której nie da się zignorować */
.photo {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(0, 0, 0);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}